* text=auto !eol
/CMakeLists.txt -text
/CTestConfig.cmake -text
/Using_CMake.txt -text
config/cmake/CTestCustom.cmake -text
config/cmake/FindHDF4.cmake -text
config/cmake/FindMPI.cmake -text
config/cmake/FindSZIP.cmake -text
config/cmake/HDF4Macros.cmake -text
config/cmake/HDF4UseFortran.cmake -text
config/cmake/HDF4_Examples.cmake -text
config/cmake/HDFMacros.cmake -text
config/cmake/cacheinit.cmake -text
config/cmake/grepTest.cmake -text
config/cmake/runTest.cmake -text
hdf/CMakeLists.txt -text
hdf/examples/AN/CMakeLists.txt -text
hdf/examples/AN/h4ex_AN_create_annotation.c -text
hdf/examples/AN/h4ex_AN_get_annotation_info.c -text
hdf/examples/AN/h4ex_AN_read_annotation.c -text
hdf/examples/AN/testfiles/General_HDFobjects.hdf -text svneol=unset#application/x-hdf
hdf/examples/AN/testfiles/h4ex_AN_create_annotation.ddl -text
hdf/examples/AN/testfiles/h4ex_AN_create_annotation.tst -text
hdf/examples/AN/testfiles/h4ex_AN_get_annotation_info.tst -text
hdf/examples/AN/testfiles/h4ex_AN_read_annotation.tst -text
hdf/examples/CMakeLists.txt -text
hdf/examples/Makefile.am -text
hdf/examples/Makefile.in -text
hdf/examples/h4ex_GR_create_and_write_chunked_image.c -text
hdf/examples/h4ex_GR_create_and_write_image.c -text
hdf/examples/h4ex_GR_get_attribute.c -text
hdf/examples/h4ex_GR_image_info.c -text
hdf/examples/h4ex_GR_modify_image.c -text
hdf/examples/h4ex_GR_read_image.c -text
hdf/examples/h4ex_GR_read_palette.c -text
hdf/examples/h4ex_GR_set_attribute.c -text
hdf/examples/h4ex_GR_write_palette.c -text
hdf/examples/h4ex_VD_create_onefield_vdatas.c -text
hdf/examples/h4ex_VD_create_vdatas.c -text
hdf/examples/h4ex_VD_get_vdata_info.c -text
hdf/examples/h4ex_VD_locate_vdata.c -text
hdf/examples/h4ex_VD_read_from_vdata.c -text
hdf/examples/h4ex_VD_read_mixed_vdata.c -text
hdf/examples/h4ex_VD_set_get_vdata_attr.c -text
hdf/examples/h4ex_VD_write_mixed_vdata.c -text
hdf/examples/h4ex_VD_write_mixed_vdata_struct.c -text
hdf/examples/h4ex_VD_write_to_vdata.c -text
hdf/examples/h4ex_VG_add_sds_to_vgroup.c -text
hdf/examples/h4ex_VG_create_vgroup.c -text
hdf/examples/h4ex_VG_get_vgroup_info.c -text
hdf/examples/h4ex_VG_insert_vdatas_to_vgroup.c -text
hdf/examples/h4ex_VG_set_get_vgroup_attr.c -text
hdf/examples/h4ex_VG_vgroup_contents.c -text
hdf/fortran/CMakeLists.txt -text
hdf/fortran/Makefile.am -text
hdf/fortran/Makefile.in -text
hdf/fortran/h4ex_AN_create_annotation.f -text
hdf/fortran/h4ex_AN_get_annotation_info.f -text
hdf/fortran/h4ex_AN_read_annotation.f -text
hdf/fortran/h4ex_GR_create_and_write_chunked_image.f -text
hdf/fortran/h4ex_GR_create_and_write_image.f -text
hdf/fortran/h4ex_GR_get_attribute.f -text
hdf/fortran/h4ex_GR_image_info.f -text
hdf/fortran/h4ex_GR_modify_image.f -text
hdf/fortran/h4ex_GR_read_image.f -text
hdf/fortran/h4ex_GR_read_palette.f -text
hdf/fortran/h4ex_GR_set_attribute.f -text
hdf/fortran/h4ex_GR_write_palette.f -text
hdf/fortran/h4ex_VD_create_onefield_vdatas.f -text
hdf/fortran/h4ex_VD_create_vdatas.f -text
hdf/fortran/h4ex_VD_get_vdata_info.f -text
hdf/fortran/h4ex_VD_locate_vdata.f -text
hdf/fortran/h4ex_VD_read_from_vdata.f -text
hdf/fortran/h4ex_VD_read_mixed_vdata.f -text
hdf/fortran/h4ex_VD_set_get_vdata_attr.f -text
hdf/fortran/h4ex_VD_write_mixed_vdata.f -text
hdf/fortran/h4ex_VD_write_to_vdata.f -text
hdf/fortran/h4ex_VG_add_sds_to_vgroup.f -text
hdf/fortran/h4ex_VG_create_vgroup.f -text
hdf/fortran/h4ex_VG_get_vgroup_info.f -text
hdf/fortran/h4ex_VG_insert_vdatas_to_vgroup.f -text
hdf/fortran/h4ex_VG_set_get_vgroup_attr.f -text
hdf/fortran/h4ex_VG_vgroup_contents.f -text
mfhdf/CMakeLists.txt -text
mfhdf/examples/CMakeLists.txt -text
mfhdf/examples/Makefile.am -text
mfhdf/examples/Makefile.in -text
mfhdf/examples/h4ex_SD_alter_sds_values.c -text
mfhdf/examples/h4ex_SD_chunking_example.c -text
mfhdf/examples/h4ex_SD_compress_sds.c -text
mfhdf/examples/h4ex_SD_create_sds.c -text
mfhdf/examples/h4ex_SD_dimscale_vs_sds.c -text
mfhdf/examples/h4ex_SD_find_sds_by_name.c -text
mfhdf/examples/h4ex_SD_get_attr.c -text
mfhdf/examples/h4ex_SD_get_info.c -text
mfhdf/examples/h4ex_SD_mv_sds_to_external.c -text
mfhdf/examples/h4ex_SD_read_from_sds.c -text
mfhdf/examples/h4ex_SD_read_subsets.c -text
mfhdf/examples/h4ex_SD_set_attr.c -text
mfhdf/examples/h4ex_SD_set_get_dim_info.c -text
mfhdf/examples/h4ex_SD_unlimited_sds.c -text
mfhdf/examples/h4ex_SD_write_slab.c -text
mfhdf/examples/h4ex_SD_write_to_sds.c -text
mfhdf/examples/testexamples.sh.in -text
mfhdf/fortran/CMakeLists.txt -text
mfhdf/fortran/Makefile.am -text
mfhdf/fortran/Makefile.in -text
mfhdf/fortran/h4ex_SD_alter_sds_values.f -text
mfhdf/fortran/h4ex_SD_chunking_example.f -text
mfhdf/fortran/h4ex_SD_compress_sds.f -text
mfhdf/fortran/h4ex_SD_create_sds.f -text
mfhdf/fortran/h4ex_SD_dimscale_vs_sds.f -text
mfhdf/fortran/h4ex_SD_find_sds_by_name.f -text
mfhdf/fortran/h4ex_SD_get_attr.f -text
mfhdf/fortran/h4ex_SD_get_info.f -text
mfhdf/fortran/h4ex_SD_mv_sds_to_external.f -text
mfhdf/fortran/h4ex_SD_read_from_sds.f -text
mfhdf/fortran/h4ex_SD_read_subsets.f -text
mfhdf/fortran/h4ex_SD_set_attr.f -text
mfhdf/fortran/h4ex_SD_set_get_dim_info.f -text
mfhdf/fortran/h4ex_SD_unlimited_sds.f -text
mfhdf/fortran/h4ex_SD_write_slab.f -text
mfhdf/fortran/h4ex_SD_write_to_sds.f -text
